body{
    background: lightblue;
}
.page-content{
    padding: 50px 200px;
}
.mdl-textfield__input{
    color: black;
}
.mdl-textfield__label{
    color: black;
}
.mdl-button{
    background: rgb(63,81,181);}
button{
    padding-left: 15px !important;
}

.material-icons{
    color: white;
}